@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lexend+Exa:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


body {
  background-color: rgba(34, 34, 34,1);
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
#root{
  margin: 0;
  padding: 0;
  border: 0;
  width:100vw;

}